<ion-view title="Mentors">
  <ion-content>
    <ion-list class="list mentors">
      <div class="card">
        <ion-item class="item item-divider">
          Big Booty Bitches
        </ion-item>
        <ion-item class="item">
          <div class="item-info">
            <h2>Ben Alderfer</h2> <!-- Name -->
            <p>Javascript, HTML, CSS/SASS</p> <!-- Skills -->
          </div>
          <div class="item-more">
            <a class="button button-icon icon ion-ios7-more-outline more-info"></a> <!-- Click to reveal contact info -->
          </div>
          <ion-option-button class="button-info button button-icon icon ion-ios7-telephone item-phone" ng-click="edit(item)"></ion-option-button> <!-- Phone -->
          <ion-option-button class="button-info button button-icon icon ion-ios7-chatbubble item-text" ng-click="edit(item)"></ion-option-button> <!-- Text -->
          <ion-option-button class="button-info button button-icon icon ion-ios7-location item-location" ng-click="edit(item)"></ion-option-button> <!-- Location -->
        </ion-item>
        <ion-item class="item">
          <div class="item-info">
            <h2>Kirby Kohlmorgen</h2> <!-- Name -->
            <p>Shit no one really cares about</p>
          </div>
          <div class="item-more">
            <a class="button button-icon icon ion-ios7-more-outline more-info"></a>
          </div>
          <ion-option-button class="button-info button button-icon icon ion-ios7-telephone item-phone" ng-click="edit(item)"></ion-option-button>
          <ion-option-button class="button-info button button-icon icon ion-ios7-chatbubble item-text" ng-click="edit(item)"></ion-option-button>
          <ion-option-button class="button-info button button-icon icon ion-ios7-location item-location" ng-click="edit(item)"></ion-option-button>
        </ion-item>
      </div>
      <div class="card">
        <ion-item class="item item-divider">
          Little Booty Bitches
        </ion-item>
        <ion-item class="item">
          <div class="item-info">
            <h2>Rhys Howell</h2> <!-- Name -->
            <p>Games n' Shit</p>
          </div>
          <div class="item-more">
            <a class="button button-icon icon ion-ios7-more-outline more-info"></a>
          </div>
          <ion-option-button class="button-info button button-icon icon ion-ios7-telephone item-phone" ng-click="edit(item)"></ion-option-button>
          <ion-option-button class="button-info button button-icon icon ion-ios7-chatbubble item-text" ng-click="edit(item)"></ion-option-button>
          <ion-option-button class="button-info button button-icon icon ion-ios7-location item-location" ng-click="edit(item)"></ion-option-button>
        </ion-item>
        <ion-item class="item">
          <div class="item-info">
            <h2>Mason Everett</h2> <!-- Name -->
            <p>Ummm... good question</p>
          </div>
          <div class="item-more">
            <a class="button button-icon icon ion-ios7-more-outline more-info"></a>
          </div>
          <ion-option-button class="button-info button button-icon icon ion-ios7-telephone item-phone" ng-click="edit(item)"></ion-option-button>
          <ion-option-button class="button-info button button-icon icon ion-ios7-chatbubble item-text" ng-click="edit(item)"></ion-option-button>
          <ion-option-button class="button-info button button-icon icon ion-ios7-location item-location" ng-click="edit(item)"></ion-option-button>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
