<ion-view title="Updates">
  <ion-content>
    <ul class="list card updates">
        <li ng-repeat="update in updates" class="item">
            <div class='item-left'> <!-- Logo & Time -->
                <img class="logo" src="img/bm_logo.png"> <!-- Logo -->
                <h6>{{update.createdAt}}</h6> <!-- Time -->
            </div>
            <div class="item-content">
                <h2>{{update.header}}</h2> <!-- Title -->
                <p style='white-space:normal;'>{{update.subheader}}</p> <!-- Text -->
            </div>
        </li>
    </ul>
  </ion-content>
</ion-view>
