<ion-view title="Schedule">
  <ion-content class="padding">
    <ion-list class="list prizes">
      <div ng-repeat="(name, day) in days" class="card">
        {{name}}
        <div ng-repeat="activity in day">
          <ion-item class="item item-divider">
            {{activity.time}}
          </ion-item>
          <ion-item class="item">
            <h2>{{activity.header}}</h2>
            <h4>{{activity.location}}</h4>
            <p>{{activity.description}}</p>
          </ion-item>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
