extends layout

block content
    link(rel='stylesheet', href='/stylesheets/inside.css')
    <script src="/socket.io/socket.io.js"></script>
    <script src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
    script(type='text/javascript', src='/javascripts/mainpage.js')
    noscript Sorry, your browser does not support JavaScript!

    .header
        img(src="images/shotgun_logo.png")
        h1 SHOTGUN
        .build
            input(type="submit" id="buildBTN" value="BUILD")
        .logout
            input(type="submit" value="LOG OUT")

    .content
        .preview
          article#devices
              #device.iphone
                  #devicetop.iphone-speaker
                  #screen.iphone-screen
                    iframe#mobile-preview-content.preview-frame(src='http://localhost:8100/#/tab/updates')
                  a(href='#')
                    #button
                      #button-square

        .inputs
            .break3em
            .rowButtons.cf
                input#main(type="submit" value="MAIN")
                input#updates(type="submit" value="UPDATES")
                input#mentors(type="submit" value="MENTORS")
                input#prizes(type="submit" value="PRIZES")
                input#schedule(type="submit" value="SCHEDULE")
            .break3em
            .addThree#mainInput
                label.cf(for="name") Event Name
                input(type="text" name="name")
                .block.cf
                    label.colors(for="name") Color 1
                    label.colors(for="name") Color 2
                    label.colors(for="name") Color 3
                .block.cf
                    input.colors(type="text" name="name")
                    input.colors(type="text" name="name")
                    input.colors(type="text" name="name")
                label(for="") Upload a Logo
                input(type='filepicker', data-fp-apikey='AAhXvilT1RIaTrxakvtWnz', data-fp-mimetypes='*/*', data-fp-container='modal', data-fp-services='COMPUTER,DROPBOX,GOOGLE_DRIVE,URL', onchange='filePicked(event)' data-fp-button-text="UPLOAD")

            .addThree.updates#updatesInput(style='display:none;')

                input#updateNameInput.inputField(type='text', placeholder='Update Name')
                input#updateDescInput.inputField(type='text', placeholder='Update Description')
                input.add(type='Submit' id='addUpdate' value='Add Update')


            .addThree.mentors#mentorsInput(style='display:none;')

                input#mentorCompanyInput.inputField(type='text', placeholder='Mentor Company')
                input#mentorNameInput.inputField(type='text', placeholder='Mentor Name')
                input#mentorDescriptionInput.inputField(type='text', placeholder='Mentor Skills')
                input.add(type='Submit' id='addMentor' value='Add Mentor')


            .addThree.prizes#prizesInput(style='display:none;')

                input#prizeCompanyNameInput.inputField(type='text', placeholder='Company Name')
                input#prizeTitleInput.inputField(type='text', placeholder='Prize Title')
                input#prizeDescInput.inputField(type='text', placeholder='Prize Description')
                input#prizeAwardInput.inputField(type='text', placeholder='Prize Award')
                input.add(type='Submit' id='addPrize' value='Add Prize')

            .addThree.schedule#scheduleInput(style='display:none;')

                input#eventNameInput.inputField(type='text', placeholder='Event Name')
                input#eventTimeInput.inputField(type='text', placeholder='Event Time')
                input#eventLocationInput.inputField(type='text', placeholder='Event Location')
                input#eventDescInput.inputField(type='text', placeholder='Event Description')
                input.add(type='Submit' id='addEvent' value='Add Event')

        div(id="updateField")
    //- .addThree
    //-     input(type="text" name="name" placeholder="Event Name")
    //-     input(type="text" name="hexes" placeholder="Primary color")
    //-     input(type="text" name="hexes" placeholder="Primary color")
    //-     input(type="file" name="logo")




    //- <div id='mentorUpdate' class='recieveUpdate'></div>

    //- br
    //- br

    //- <input type='text' class='inputField' id='updateHeader' placeholder='Header'>
    //- <input type='text' class='inputField' id='updateSubHeader' placeholder='Description'>
    //- button(id="addUpdate" class="btn").
    //-     Add Update

    //- <div id='updateUpdate' class='recieveUpdate'></div>

    //- br
    //- br

    //- <input class="hidden" type="file" accept="image/*" capture="camera" id="file-upload">
    //- <br/>
    //- <img class="logoImage" id="logo"/>

    //- footer
    //-     p @Copyright Easy App 2014
    <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
    <script type="text/javascript" src="/javascripts/file.js"></script>
