extends layout

block content

    .login
        input(type="submit" value="LOG IN" onclick="openLogin(this)")
        .fields(style="display:none;")
            input(type="text" placeholder="USERNAME")
            input(type="password" placeholder="PASSWORD")
            a(href="/home")
                input(type="submit" value="SUBMIT")

    .banner
        img(src="images/shotgun_logo.png", alt="")
        h1 SHOTGUN
        p SET YOUR STYLE, CUSTOMIZE YOUR CONTENT,
        p AND PULL THE TRIGGER.
        br
        p.red IT'S THAT SIMPLE.
    //- hr

    //- <input type='text' class='inputField' id='mentorCompanyInput' placeholder='Mentor Company'>
    //- <input type='text' class='inputField' id='mentorNameInput' placeholder='Mentor Name'>
    //- <input type='text' class='inputField' id='mentorDescriptionInput' placeholder='Mentor Skills'>
    //- button(id="addMentor" class="btn").
    //-     Add Mentor

    //- <div id='mentorUpdate' class='recieveUpdate'></div>

    //- br
    //- br

    //- <input type='text' class='inputField' id='updateHeader' placeholder='Header'>
    //- <input type='text' class='inputField' id='updateSubHeader' placeholder='Description'>
    //- button(id="addUpdate" class="btn").
    //-     Add Update

    //- <div id='updateUpdate' class='recieveUpdate'></div>

    //- br
    //- br

    //- <input class="hidden" type="file" accept="image/*" capture="camera" id="file-upload">
    //- <br/>
    //- <img class="logoImage" id="logo"/>
