html
    head
        title!= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            h1!= message
        button(class="button", href="/views/otherpage.jade").
            Click for redirects/actions
        footer
