
/* HEADER */
.bar {
    background-color: #ECF0F1;
}
.bar::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 44px;
    left: 0;
    border-bottom: 1px solid #ddd;
}
.bar .title {
    color: #2C3E50;
}





/* TABS */

.tabs {
    background-color: #ECF0F1;
}
.tabs::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 49px;
    left: 0;
    border-bottom: 1px solid #ddd;
}
.icon {
    color: #2C3E50;
}
.tab-title {
    color: #2C3E50;
}







/* LIST */

.item {
    text-overflow: clip;
    overflow: visible;
}
.item .item-left {
    position: relative;
    width: 20%;
    display: inline-block;
}







/* UPDATES */

.updates .item div {
    vertical-align: top;
}
.updates .item .item-left .logo {
    width: 100%;
    margin-bottom: 0;
}
.updates .item .item-left h6 {
    text-align: center;
}
.updates .item .item-content {
    position: relative;
    width: 80%;
    display: inline-block;
}









/* MENTORS */

.mentors .item {
    padding: 6px 16px;
    box-sizing: border-box;
}
.mentors .item-divider {
    padding: 16px;
}
.mentors .item .item-info {
    position: relative;
    width: 80%;
    display: inline-block;
    vertical-align: top;
}
.mentors .item .item-more {
    position: relative;
    width: 20%;
    display: inline-block;
    vertical-align: top;
}
.mentors .item .item-more .more-info {
    float: right;
}
.mentors .item .item-content {
    padding: 0;
}
.item-phone {
    padding: 10px 12px 0;
    background-color: #BDC3C7;
    color: white;
    border-left: 1px solid #ddd !important;
}
.item-text {
    padding: 10px 12px 0;
    background-color: #BDC3C7;
    color: white;
    border-left: 1px solid #ddd !important;
}
.item-location {
    padding: 10px 12px 0;
    background-color: #BDC3C7;
    color: white;
    border-left: 1px solid #ddd !important;
}
.mentors .item p {
    display: inline-block;
    margin-bottom: 0;
    display: block;
}