/* Empty. Add your own CSS if you like */

.pane {
    background-color: white;
}
.bar {
    background-color: #ECF0F1;
    border-bottom: 1px solid #BDC3C7;
}
.bar .title {
    color: #2C3E50;
}
.tabs {
    border-top: 1px solid #BDC3C7 !important;
    background-color: #ECF0F1;
}
.icon {
    color: #2C3E50;
}
.tab-title {
    color: #2C3E50;
}






/* LIST */

.item {
    white-space: normal !important;
    text-overflow: none;
    overflow: visible;
}